:root {
  --primary-color: #978DFF;
  --secondary-color: #AEAEAE;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-image: url("../img/header_image.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 322px;
  padding: 0px 60px 40px 60px;
}

.header__date {
  font-size: 46px;
  color: #fff;
  font-weight: 600;
}

.container {
  width: 100%;
  padding: 30px 60px;
}

.container .add_todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.container .add_todo__input {
  width: 100%;
  border: 1px solid var(--secondary-color);
  line-height: 50px;
  padding-left: 20px;
  font-size: 22px;
}

.container .add_todo__input:focus {
  outline: none;
}

.container .add_todo__btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 22px;
  padding: 0 35px;
  border-radius: 3px;
}

.container .todo_list #finished > .todo_list__item > .item__action_btns .btn--edit {
  display: none;
}

.container .todo_list__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 20px;
}

.container .todo_list__btns .btn {
  font-size: 22px;
  text-decoration: none;
  padding-bottom: 20px;
  font-weight: normal;
  color: var(--secondary-color);
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.container .todo_list__btns .btn--active {
  font-weight: bold;
  color: var(--primary-color);
  border-bottom: 5px solid !important;
}

.container .todo_list__items {
  display: none;
}

.container .todo_list__items.active {
  display: block;
}

.container .todo_list__item {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.container .todo_list__item[data-status="true"] .item_text > label {
  text-decoration: line-through;
}

.container .todo_list__item .item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .todo_list__item .item_text input {
  margin-right: 10px;
}

.container .todo_list__item .item__action_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.container .todo_list__item .item__action_btns button {
  color: var(--secondary-color);
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.container .todo_list__item .item__action_btns .btn--edit {
  margin-right: 20px;
}

@media only screen and (max-width: 540px) {
  .header {
    padding: 0px 20px 40px 20px;
  }
  .header__date {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
  }
  .container {
    padding: 30px 20px;
  }
}
/*# sourceMappingURL=style.css.map */